[submodule ".\\includes\\phnt"]
	path = .\\includes\\phnt
	url = https://github.com/processhacker/phnt.git
[submodule ".\\includes\\fmt"]
	path = .\\includes\\fmt
	url = https://github.com/fmtlib/fmt.git
